
/*Fixar fin ferg och flex*/
body {
    display: flex;
    background-color: dimgray;
}

/*gör så att texten i "p" får fin färg*/
p {
    color: maroon;
}

/*gör en class större "p" som kan andvändas för att göra det större*/
.p-big {
    color: maroon;
    font-size: larger;
}

/*gör en "master" container som allt ligger i. Gör detta för att 
kunna ordna dem andra containrarna på sidan*/
.flexbox-container-master {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
}

/*En flexbox container för min "navbar" så att den kan ha sina egna items*/
.flexbox-container-nav {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.103);
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-around;
}

/*Ett flexbox item i "navbaren" som definerar hur stora dem är så att dem 
passar och ser fina ut*/
.flexbox-item {
    display: flex;
    background-color: black;
    color: white;
    margin: 20px;
    padding: 20px;
    height: 90%;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}


/*gör så att länkarna fungerar och ser bättre ut, främst det senare*/
a {
    text-decoration: none;
    color: rgb(172, 37, 37);
    font-size: 260%;
}

/*en flexbox container som kan andvändas till text rutor eller bara text*/
.flexbox-container-1 {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.205);
    width: 70%;
    height: 60%;
    align-items: center;
}

/*bara ett flexbox item som kan andvändas främst till containern-1*/
.flexbox-item-1 {
    display: flex;
    background-color:none;
}

/*flexbox containern för spelen i produkt sectionen så att dem ser fina ut genom   
att centrera dem med både justify-content center och align items center så att dem 
är i mitten*/
.flexbox-container-game {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.205);
    width: 70%;
    height: 60%;
    align-items: center;
    flex-wrap: wrap;
}

/*flex items för spelen, centrerade och bra*/
.flexbox-item-game {
    display: flex;
    background-color:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/*bara en class så att bilderna blir rätt storlek*/
.image-medium {
    width: 400px;
    height: 600px;
}

/*Dessa keyframes gör så att en animation av att en låda som ändrar ferg
åker runt i en fyrkant*/
@keyframes animation {
    0%{background-color: black;}
    50%{background-color: crimson;}
    100%{background-color: black;}

    
}
@keyframes slide {
    from {
      margin-left: 0%;
      margin-top: -5.5%;
      width: 100%;
    } 
    25% {
       margin-left: 83.5%;
       margin-top: -5.5%;
    }
    50% {
     margin-top: 78%;
     margin-left: 83.5%;
    }
    75% {
      margin-left: 0%;
      margin-top: 78%;
    }
     to {
       margin-top: -5.5%;
       width: 100%;
    }
}

/*Här görs animationen så att den loopar och händer under en viss tid*/
.slide {
    animation: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/*bakrunden till aninationen och lådan den finns i*/
.animation-box {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: dimgray;
}

/*Lådan som ändrar ferg får här sina parametrar*/
.animation {
    animation-name: animation;
    animation-duration: 10s ;
    animation-iteration-count: infinite;
    height: 50px;
    width: 50px;
}